// Override this file to add your own SCSS styling.
.container {
    max-width: 90%;
}

.article-container {
  max-width: 75%;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
}

.docs-article-container {
  max-width: 90%;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: $sta-font-heading, sans-serif;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: .5rem;
  line-height: 1.25;
  color: #767676;
  text-rendering: optimizeLegibility;

  /* Ensure long words do not overflow into content. */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  /* Add a hyphen where the word breaks (use `&shy;` to insert a soft-hyphen in a word). */
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}


html {
	scroll-behavior: smooth;
}

/* Change the colors for the "light" button */

.btn-light {
  color: #212529;
  background-color: #6699ff;
  border-color: #6699ff; }
  .btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5; }
  .btn-light:focus, .btn-light.focus {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5); }
  .btn-light.disabled, .btn-light:disabled {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa; }
  .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df; }
    .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5); }

.btn-info { //Changes tutorial buttons to cyan color
  color: #fff;
  background-color: #009FDF;
  border-color: #009FDF} 
  .btn-info:hover {
      color: #fff;
      background-color: #00658d;
      border-color: #00658d; }
  .btn-info:focus, .btn-info.focus {
      color: #fff;
      background-color: #00658d;
      border-color: #00658d;
      box-shadow: 0 0 0 0.2rem rgba(27, 83, 92, 0.5); }


