.slideheader {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  overflow: hidden;
  background:#2c3d57;
  height: 45; 
  z-index:100;
}

.twocolumn {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 10px;
   text-align: left;
}

.reveal .controls {
  color: #2c3d57; }
