<div class="search-results" id="search" role="dialog" aria-modal="true"
  aria-labelledby="search-title">
  <div class="container">
    <div class="search-header">

      <div class="row no-gutters justify-content-between mb-3">
        <div class="col-6">
          <h1 id="search-title">{{ i18n "search" }}</h1>
        </div>
        <button type="button" class="js-search close-search-btn" aria-label="Close search">
          <i class="fas fa-times-circle text-muted" aria-hidden="true"></i>
        </button>
      </div>

      <p id="search-instructions" class="sr-only">
        Type to search the site. Results will appear below as you type.
      </p>

      <div id="search-box">
        {{ if eq site.Params.search.engine 1 }}
        <label for="search-query" class="sr-only">{{ i18n "search" }}</label> 
        <input name="q" id="search-query" aria-label="Search" placeholder="{{i18n "search_placeholder"}}" autocapitalize="off"
        autocomplete="off" autocorrect="off" spellcheck="false" type="search">
        {{ else }}
        <!-- Search box will appear here -->
        {{ end }}
      </div>

    </div>

    <div class="section-search-results">

      <div id="search-result-count" aria-live="assertive" aria-atomic="true">
        <!-- Result count heading will appear here and be announced by screen readers -->
      </div>

      <div id="search-hits">
        <!-- Search results will appear here -->
      </div>

    </div>
  </div>
</div>