<footer class="site-footer">
<p class="powered-by">
  <span style="float:left"><img height=auto width=300px src={{.Site.BaseURL}}{{ .Site.Params.logo }} alt="RC Logo" /></span>
  <span style="text-align:center">
  {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}} {{ end }}
  </span>
    {{ if not (in (slice "updates") .Type) }}
    <span class="float-right" aria-hidden="true">
      <a href="#" class="back-to-top">
        <span class="button_icon">
          <i class="fas fa-chevron-up fa-2x"></i>
      </a>
     </span>
    {{ end }}
</p>
</footer>
